.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 550px;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 90px 1fr;
    grid-template-columns: 3fr 15fr;
    /*grid-gap: 10px;*/;
}

.app-wrapper-content{
    grid-area: c;
    /*background-color: pink;*/

    /*width: 800px;*/
}




