.nav {
    grid-area: n;
    background-color: lightpink;
    padding: 5px;
}

.item a {
    color: white;
    /*font-weight: bolder;*/
    /*font-style: unsete;*/
    text-decoration: none;
    font-family:Roboto ;
    font-size: large;

}

.item a.active {
    color: red;
    font-weight: bolder;
    font-family: Roboto;
    font-size: large;


}
.item2 a {
    color: white;
    /*font-weight: bolder;*/
    /*font-style: unsete;*/
    text-decoration: none;
    font-family:Roboto ;
    font-size: large;
}

.item2 a.active {
    color: red;
    font-weight: bold;
    font-family:Roboto ;
    font-size: large;

}